nav {
    background-color:darkslateblue;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;

}
.Navitem{
    color:#fff;
    text-decoration: none;
    padding: 5px 10px;
}

.Navitem:hover, nav .active{
    color: yellow;
}
button{
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    background-color: darkslateblue;
    color: #fff;
    
}
section{
    display: grid;
    grid-gap:1rem
}
article{
    background: lightcyan;
    padding: 15px;
    color: darkslateblue;
  
}
.BlogButton{
    background: #fff;
    color: darkslateblue;
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid darkslateblue;
}
.BlogButton:hover{
    background: darkslateblue;
    color: #fff;
    transition: .3s;
}
@media screen and (min-width:600px){
    section{
        grid-template-columns: auto auto ;
    }
}
@media screen and (min-width:992px){
    section{
        grid-template-columns: auto auto auto;
    }
}